.login{
    width: 100vw;
    height: 100vw;
    background-color: #369;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 500px;
        border: 1px solid #fff;
        padding-top: 20px;
        h2{
            text-align: center;
        }
    }
}